<div class="container">
    <!-- связываем форму с ее данными в компоненте  -->
    <form 
        class="card"
        [formGroup]="form"
        (ngSubmit)="submit()"
    >
        <h2>Angular Forms</h2>

        <div class="form-control">
            <label>Email</label>
            <!-- для привязки инпутов с формой в коде
            используется директива  formControlName-->
            <input 
                type="text" 
                placeholder="Email" 
                formControlName="email"
            >
            <!-- блок отображения сообщений об ошибках валидации -->
            <!-- у объекта form есть метоб get() который принимает
            имя конрола и возвращает обект с данными о состоянии валидации -->
            <div 
                *ngIf="form.get('email')?.invalid && form.get('email')?.touched"
                class="validation"
            >
            <!-- в объекте errors есть поля которые отвечают за состояние
            каждого валидатора
            это можно использовать для коректного отображения соответствующих полей  -->
            <small
                *ngIf="form.get('email')?.errors?.['required']"
            >email is required</small>
            <br>
            <small
                *ngIf="form.get('email')?.errors?.['email']"
            >enter correct email</small>
            </div>
        </div>

        <div class="form-control">
            <label>Password</label>
            <input 
                type="password" 
                placeholder="Password"
                formControlName="password"
            >
            <div 
                class="validation"
                *ngIf="form.get('password')?.invalid && form.get('password')?.touched"
            >
                <small
                    *ngIf="form.get('password')?.errors?.['required']"
                >password is required</small>
                <br>
                <small
                    *ngIf="form.get('password')?.errors?.['minlength']"
                >min length must be {{form.get('password')?.errors?.['minlength'].requiredLength}} symbols
                current symbols amount {{form.get('password')?.errors?.['minlength'].actualLength}}</small>
            </div>
        </div>

        <div class="card">
            <h3>Address</h3>
        
            <div class="form-control">
                <label>Country</label>
        
                <select name="" id="">
                    <option value="ru">russia</option>
                    <option value="ua">Ukraine</option>
                    <option value="en">England</option>
                </select>
            </div>
        
            <div class="form-control">
                <input type="text">
            </div>
        
            <button class="btn" type="button">Choose capital</button>
        </div>
        
        <div class="card">
            <h3>Your Skills</h3>
        
            <button class="btn" type="button">Add skill</button>
        
            <div class="form-control">
                <label for=""></label>
                <input type="text">
            </div>
        </div>

        <!-- заблоктровать отправку формы можно с помощю
        значения свойства объекта формы -->
        <button 
            class="btn" 
            type="submit"
            [disabled]="form.invalid"
        >Send</button>
    </form>
</div>
