<div class="container">
  <h1>Angular Components</h1>

  <!-- чтобы слушать собитие передачи данных
  используем обратную пивязку 
  чтобы получить нужные данные в компоненте
  используем $event-->
  <app-post-form
    (onAdd)="updatePosts($event)"
  >
  </app-post-form>

  <hr>

  <app-post
    *ngFor="let p of posts"
    [post]="p"
  >
    <div #info>
      <!-- но мы этот контент не увидим
      потому что в разметке компонета
      
      нужен тег <ng-content> для него-->
      <small *ngIf="p.text.length > 10; else short">Big post</small>
      <ng-template #short>
        <small>Little post</small>
      </ng-template>
    </div>
  </app-post>

  <hr>

  <div>
    <h3>Directives</h3>

    <!-- терерь кастомная директива доступна
    для любого тега 
  
    наши директивы могут принимать объект с определеннымы настройками -->
    <p 
      appStyle="green" 
      [dStyles]="{border: '1px solid black', borderRadius: '10px'}"
    >Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

    <p 
      appStyle="tomato" 
      [dStyles]="{border: '1px solid green', borderRadius: '3px'}"
    >Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  </div>

  <div>
    <button class="btn" (click)="isVisible = !isVisible">Toggle</button>

    <p class="par" *appStruct="isVisible">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  </div>

  <app-pipes></app-pipes>

  <h3>Services</h3>

  <div class="card">
    <h3>App Counter: {{appCounterService.counter}}</h3>

    <button class="btn" (click)="appCounterService.increase()">+</button>
    <button class="btn" (click)="appCounterService.decrease()">-</button>
  </div>

  <div class="card">
    <h3>Local Counter: {{localCounterService.counter}}</h3>

    <button class="btn" (click)="localCounterService.increase()">+</button>
    <button class="btn" (click)="localCounterService.decrease()">-</button>
  </div>

  <hr>

  <app-local-service></app-local-service>

  <hr>

  <app-forms></app-forms>
</div>