<button (click)="animate()">Animate</button>
<button (click)="boxState = 'special'">Set Special State</button>
<button (click)="visible = !visible">Toggle Visibility</button>

<hr>

<div class="wrap">
  <!-- [@box]="boxState" это так привязывается тригер и состояние анимации в шаблоне -->
  <!-- так же можно слушать собития начала и конца анимации 
    (@box.start)="animationStarted()"
    (@box.done)="animationDone()" -->
  <!-- <div 
    *ngIf="visible"
    class="box"
    [@box]="boxState"
    (@box.start)="animationStarted($event)"
    (@box.done)="animationDone($event)"
  >
    <h4>{{boxState | uppercase}}</h4>
  </div> -->
  <app-animate></app-animate>
</div>